*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{width: 100%; display: block;}

.myForm{
    background-color: aliceblue;
    width: 80%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 1px 1px 5px gray;
}
.btnsubmit{
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.btnsubmit:hover{
    background-color: crimson;
    box-shadow: 0px 0px 5px 1px gray;
}
.btnsubmit:disabled{
    background-color: green;
    cursor: not-allowed;
    box-shadow: none;
}

.legend{
    text-align: center;
    font-size: 3rem;
    color: blueviolet;
}
.formcontrol{
    margin: 2rem 0rem
}
.form_label{
    width: 150px;
    display: inline-block;
}
.form_input{
    padding: 0.5rem 1rem;
    background: lightblue;
    border: 3px solid darkblue;
    border-radius: 5px;
}
.active_input_invalid {
    border: 3px solid red;
    box-shadow: 0px 0px 5px 1px red;
}
.active_input_valid {
    border: 3px solid green;
}
.greeting{
    display: none;
}
.display_username{
    font-style: italic;
}
.username_error_msg{
    color: crimson;
    font-size: 0.8rem;
}