*{box-sizing: border-box;}
img{width: 100%;display: block;}

.date{
  display: flex;
  justify-content: center;
  color: blue;
  font-style: italic;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*user feedback card*/
.feedbackcard{
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
} 
.cardfooter{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: grey;
}
.feedbackcontainer{
  margin: 1rem;
}
.feedbackcontainer:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  overflow: hidden;
  border-radius: 10px;
}
/*modal window.js*/
.modalwindow{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modalcontent{
  background-color: whitesmoke;
  margin: 100px auto;
  width: 500px;
}
.modalheader{
  background-color: lightblue;
  display: flex;
}
.modalheader p:nth-child(1){
  font-size: 1.25rem;
  text-align: center;
  width: 80%
}
.closemodal{
  margin-left: auto;
  padding: 2rem;
}
.commentarea{
  width: 90%;
  margin: 5%;
  padding: 0.5rem 1rem;
}
.btnpostfeedback{
  width: 80%;
  margin: 10%;
  background-color: lightgreen;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
.btnpostfeedback:hover{
  background-color: coral;
}