*{box-sizing: border-box;}
.shapeContainer {
    width: 80%;
    margin: auto;
    background-color: lightblue;
    padding: 3rem;
}
.shapeDivision {
    width: 200px;
    margin: auto;
    border: solid grey 2px;
    padding: 2rem;
    text-align: center;
}
.btn_square, .btn_circle, .btn_rectangle {
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
    border: none;
    width: 30%;
    margin-top: 3rem;
    cursor: pointer;
}
.btn_square:hover, .btn_circle:hover, .btn_rectangle:hover {
    background-color: orange;
}
.square{
    width: 200px;
    height: 200px;
    background-color: green;
    margin: auto;
}
.circle{
    width: 200px;
    height: 200px;
    background-color:magenta;
    border-radius: 50%;
    margin: auto;
}
.rectangle{
    width: 400px;
    height: 200px;
    background-color: maroon;
    margin: auto;
}
.square, .circle, .rectangle {
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
}
.username_paragraph {
    color: red;
    font-weight: bold;
    font-size: 0.9rem;
    font-style: italic;
}
/* EXercise */
div.divs2, div.divs3{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 20px;
}
